*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logo-img{
    width: 60px;
}
body{
    width: 100%;
    height: 100%;
}
.navbar-nav{
 margin-left: 20%;
}
.navbar-dark .navbar-nav .nav-link:hover {
  background-color: white;   /* White background */
  color: black;              /* Text stays visible */
  border-radius: 5px;
}

/* Dropdown items hover */
.dropdown-menu .dropdown-item:hover {
  background-color: black;
  color: white;
}
